@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  height: 80px;
}

.logo {
  margin: 0 20px;
  font-size: 24px;
  padding: 10px 20px;
  background-color: crimson;
  color: white;
  border-radius: 30px;
  transition: all .5s ease-in-out;
}

.logo:hover {
  background-color: rgb(0, 68, 255);
  box-shadow: rgba(0, 68, 255, 0.4) 5px 5px, rgba(0, 68, 255, 0.3) 10px 10px, rgba(0, 68, 255, 0.2) 15px 15px, rgba(0, 68, 255, 0.1) 20px 20px;
  transform: translateY(-10px);
}

ul {
  display: flex;
  gap: 30px;
  margin-left: 20px;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #333;
  transition: all .4s ease-in-out;
  display: inline-block;
}

ul li a:hover {
  color: crimson;
  transform: translateY(-10px);
}

.search {
  position: absolute;
  bottom: 20px;
  right: 400px;
}

.search i {
  font-size: 20px;
  margin: 0 10px;
transform: translateY(35px);
}

.search .box-input {
  height: 40px;
  width: 40px;
  border-radius: 30px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  transition: all .8s ease ;
}

.search input {
  margin: 0 40px;
  height: 40px;
  width: 0px;
  background: transparent;
  border: none;
  outline: none;
  transition: all .6s ease ;
}

.search:hover .box-input {
  width: 240px;
}

.search:hover input {
  width: 200px;
}


.icon {
  display: flex;
  margin-left: 680px;
  gap: 40px;
}

.icon i {
  font-size: 20px;
  cursor: pointer;
  padding: 16px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  transition: all .3s ease;
}

.icon i:hover {
  color: #fff;
  background-color: #3f3f3f;
} 